@charset "UTF-8";
@font-face {
    font-family: 'birds';
    src: url(../fontes/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'peristiwa';
    src: url(../fontes/Peristiwa.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'daydream';
    src: url(../fontes/daydream\ FREE.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'glacial';
    src: url(../fontes/GlacialIndifference-Regular.otf) format('opentype');
    font-weight: normal;
}
:root{
    --cor1: #893524;
    --cor2: #AD4828;
    --cor3: #D2510C;
    --cor4: #CA875A;
    --cor5: #EDAE61;
    --cor6: #7B754E;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fff8f2;
}
header{
    background-image: url(../imagens/logo1_jpg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;
    background-color: #fff8f2;
    box-shadow: 0px 3px 20px 7px rgba(0, 0, 0, 0.521);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;

}
header h1{
    color: #c45824;
    font-family: 'daydream', serif;
    font-weight: lighter;
    font-size: 5em;
    text-align: center;
    margin: 0px;
    padding: 40px;
    text-shadow: 3px 3px 3px black;
    max-width: 1000px;
}
header p{
    color: var(--cor3);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    font-family: 'birds', serif;
    font-weight: lighter;
    font-size: 2em;
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 10px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to right, transparent, #c45824, transparent);
    padding: 10px;
}
nav a{
    text-decoration: none;
    padding: 0px;
    margin: 10px 15px 20px 10px;
    color: #5f261b;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(240, 248, 255, 0.705);
}
nav a:hover{
    text-decoration: underline;
    background-color: var(--cor3);
}
main{
    background-color: #fff8f2;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}
main h1{
    background-image: linear-gradient(to right, transparent, #c45824, transparent);
    font-family: 'daydream', serif;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 3px 3px aliceblue;
}
main > h1 > a {
    color: black;
}
main p{
    font-family: 'birds', serif;
    font-weight: lighter;
    font-size: 2em;
    line-height: 1.4em;
    padding: 20px;
    text-indent: 10px;
    text-align: justify;
}
/*aside{
    background-image: linear-gradient(to right, transparent, #dd6322, transparent);
    font-family: 'peristiwa', serif;
    font-weight: lighter;
    font-size: 2em;
    text-shadow: 3px 3px 3px aliceblue;
    max-width: 350px;
    min-width: 300px;
    padding: 10px;
    line-height: 1.5em;
    margin: 10px 0px 10px 0px;
}
ul{
    text-align: justify;
}*/

ul{
    border-radius: 20px;
    margin: 10px 0px;
    background-color: #c45824;
}

.padrinhos{
    padding: 10px 0px 0px 0px;
    text-decoration: underline;
}
img{
    padding: 0px;
    margin: auto;
    display: block;
}

.imagem1{
    display: block;
    margin: auto;
}

.frase{
    text-align: center;
    padding: 30px;
    font-weight: lighter;
    text-shadow: 2px 2px 2px aliceblue;
}

aside {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

aside > p {
    margin-bottom: 10px;
    font-size: .7em;
}

aside > a {
    color: red;
}

footer{
    background-color: var(--cor5);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 0.5em;
}
footer a{
    color: var(--cor3);
    text-decoration: none;
}
.casais{
    color: aliceblue;
    text-shadow: 2px 2px black;

    list-style-position: inside;
    font-family: 'glacial', serif;
    font-weight: normal;
    font-size: 1.5em;
    background-color: #c45924c2;
    padding: 10px;
    text-decoration: underline;
}
.local{
    background-image: linear-gradient(to right, transparent, #c45824, transparent);
    text-align: center;
    list-style-position: inside;
    font-family: 'peristiwa', serif;
    font-weight: normal;
    font-size: 1.8em;
    background-color: #ca875ac0;
    padding: 10px;
    text-decoration: underline;
}
.paleta{
    margin: 10px 0px;
    border-radius: 10px;
    text-align: center;
    list-style-position: inside;
    font-family: 'peristiwa', serif;
    font-weight: normal;
    font-size: 1.5em;
    background-color: #c45924c2;
    padding: 10px;
    text-decoration: underline;
}
.bola1{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: #913F34;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
    border-style: groove;
    border-color: rgb(32, 32, 32);
    border-width: 5px;
}
h2{
    padding: 5px;
    text-align: center;
}
h2 a{
    font-size: 0.9em;
    color: var(--cor1);
}
h2 a:hover{
    text-decoration: none;
}